body{
    background-color: rgb(212, 238, 250) !important;
}

.myadd{
    display: block;
    color: white;
    text-align: center;
   
}

h2{
    font-size: 40px !important;
    border-bottom: 1px dotted blue;
    padding-bottom: 5px;
}
#ashiq{
    margin-top: 50px;
    border-radius: 10px;
    background-color: white;
}

#ashiq1{
    margin-top: 50px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
}

#tumi{
    align-items: center;

}

#ashiq2{
    margin-top: 50px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
}


#ashiq5 {
    margin-top: 50px;
    padding-left: 10px;
    height: 280px;
    width: 49%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 50px;
}


#sideright {
    margin-left: 90px;
    margin-top: -38px;
}


/* copy right  */

.cop{
    height: 40px;
    padding-top: 10px;
    display: block;
    overflow: hidden;
    background-color: aqua;
    text-align: center;
}